@font-face {
  src: url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
  font-family: "FontAwesome"; }
@font-face {
  src: url(https://fonts.googleapis.com/css?family=Roboto);
  font-family: "Roboto", sans-serif; }
body, p, a, nav, ul, li {
  color: #0d0e09; }

.main__portfolio__title,
.header__top__title,
.header__bottom__title,
.header__bottom__description,
.main__about__title {
  padding: 1em;
  font-size: 1.2em;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase; }

.header {
  margin-top: 35px;
  position: relative;
  color: #0d0e09; }
  .header .container {
    position: relative; }
  .header nav {
    color: inherit;
    height: auto;
    min-height: 0;
    max-height: none;
    width: 100%;
    min-width: 0;
    max-width: none;
    background-color: transparent;
    line-height: normal;
    box-shadow: none; }
    .header nav a {
      color: inherit; }
    .header nav i, .header nav i.material-icons {
      display: inline-block;
      font-size: inherit;
      height: auto;
      line-height: 1; }
    .header nav ul {
      margin: 0; }
      .header nav ul li {
        transition: none;
        float: none;
        padding: 0; }
        .header nav ul li.active {
          background-color: transparent; }
      .header nav ul a {
        display: inline-block;
        transition: none;
        font-size: inherit;
        color: inherit;
        padding: 0;
        cursor: pointer; }
        .header nav ul a:hover {
          background-color: transparent; }
  .header .header__top__title {
    text-align: center;
    font-size: 1.1em; }
  .header .header__bottom__title {
    font-size: 1.7em;
    font-weight: 300;
    padding-bottom: 0px; }
  .header .header__bottom__description {
    padding-top: 0.8em;
    font-size: 1.2em; }

.header__nav {
  position: absolute;
  left: 0;
  top: 0;
  font-size: 3em; }

.header__nav__list {
  display: none; }

.parallax-banner {
  width: 100%;
  height: 30%;
  background-color: #1e0d1c;
  background-image: url(../img/asteroids.jpg);
  background-size: contain;
  background-attachment: fixed;
  content: 'sss'; }

.main__portfolio__title {
  padding: 2em 0 2em 0; }

.main__portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 3em; }
  .main__portfolio .main__portfolio__item {
    width: 30%;
    padding-bottom: 3%; }
    .main__portfolio .main__portfolio__item img {
      width: 100%; }

.footer {
  padding-top: 1.5em;
  padding-bottom: 50px;
  color: #fdfdfd;
  width: 100%;
  background-color: #3a979c; }
  .footer .main__about__title {
    margin: 0;
    padding: 1em;
    font-size: 1.2em;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase; }

.main__about {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 2em 0 2em 0; }

.main__about__img {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30%; }
  .main__about__img img {
    width: 100%;
    border-radius: 50%; }

.main__about__side {
  padding-left: 10%;
  width: 80%; }

.main_about__text {
  padding-top: 0px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #f0f0f0;
  font-style: italic;
  font-size: 2em;
  line-height: 1.2em; }

.hello-form {
  width: 50%;
  display: block; }
  .hello-form button {
    background-color: #8587b6;
    margin-top: 20px; }

@media (min-width: 320px) and (max-width: 480px) {
  .parallax-banner {
    height: 15%; }

  .main__about {
    flex-direction: column; }

  .main__about__img {
    width: 80%; }

  .main__about__side {
    padding-left: 0;
    width: 100%; }

  .main_about__text {
    margin-top: 30px; } }

/*# sourceMappingURL=main.css.map */
